{% extends 'base.html.twig' %}

{% block title %}Tous les loisirs et activités de France{% endblock %}

{% block body %}
    <article id="content">
        <section class="container content-padding-lg">
            <div class="row animated">
                <div class="col-sm-8 col-sm-offset-2 text-center">
                    <h1 class="text-center"><small>What can you do with the Leisure Template?</small>AWARD WINNING RESORT</h1>
                    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam non ornare eros. Ut pharetra ornare lorem, sit amet bibendum quam imperdiet ut.
                    </p>
                    <p>Duis diam eros, dignissim sed condimentum ac, vehicula nec nisl. Suspendisse condimentum libero tempus, accumsan augue et, varius dui. Morbi justo tortor, tincidunt ornare magna ut, molestie mattis enim. Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan.
                    </p>
                    <a href="resort.html" class="btn btn-inline">What's happening at the Leisure Center?</a>
                </div><!-- .col-sm-8 -->
            </div><!-- .row -->
        </section><!-- .container -->
        <section class="fullwidth-row">
            <div class="container content-padding-xl">
                <div class="row animated">
                    <div class="col-sm-12 parallax-container" data-stellar-offset-parent="true" data-stellar-vertical-offset="150">
                        <div class="content-column half text-center">
                            <img src="/html-final/images/photo3.jpg" class="parallax-image img-responsive" data-stellar-ratio="1.15123" alt="">
                            <img src="/html-final/images/photo2.jpg" class="parallax-image img-responsive" data-stellar-ratio="0.94456456" alt="">
                            <img src="/html-final/images/photo1.jpg" class="parallax-image img-responsive" data-stellar-ratio="1.111111" alt="">
                        </div><!-- .content-column -->
                        <div class="content-column half last">
                            <h2><small>Discover Nature at it's Finest</small>PLAY GOLF LIKE A PRO</h2>
                            <p>Duis diam eros, dignissim sed condimentum ac, vehicula nec nisl. Suspendissecondimentum libero tempus, accumsan augue et, varius dui. Morbi justo tortor, tincidunt ornare magna ut, molestie mattis enim.
                            </p>
                            <p>Cras ac justo et augue suscipit euismod vel eget lectus. Proin vehicula nunc arcu, pulvinar accumsan nulla porta vel. Vivamus malesuada vitae sem ac pellentesque.
                            </p>
                            <a href="resort.html" class="btn btn-inline">Explore our Deluxe Golf Course</a>
                        </div><!-- .content-column -->
                    </div><!-- .parallax-container -->
                </div><!-- .row -->
            </div><!-- .container -->
        </section><!-- .fullwidth-row -->
        <section class="container content-padding-lg">
            <div class="row animated">
                <aside class="col-sm-12">
                    <h2 class="text-center"><small>What can you do at the Leisure Template?</small>LEISURE CLUB ACTIVITIES</h2>
                    <div class="services-carousel">

                        {%  for Leisure in Leisures %}

                            <div class="item">
                                <a href="{{ path('page', {slug: Leisure.slug})}}" class="link-image"><img src="{{  Leisure.img }}" alt=""></a>



                                <div class="item-content">
                                    <h4><a href="{{ path('page', {slug: Leisure.slug})}}">{{ Leisure.title }}</a></h4>
                                    <p>{{ Leisure.description|slice(0,150) }} </p>
                                </div>
                            </div>

                        {% endfor %}
                    </div><!-- .services-carousel -->
                </aside><!-- .col-sm-12 -->
            </div><!-- .row -->
        </section><!-- .container -->
    </article><!-- #content -->

{% endblock %}
